:host {
    display: block;
    perspective: 600px;
}

.card {
    box-shadow: 10px 10px 43px -18px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    min-height: 350px;
    width: 500px;
    margin: auto;
    position: relative;
    transform-style: preserve-3d;
}

.face {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: cornflowerblue;
    backface-visibility: hidden;
}
.face SPAN {
    font-size: 25px;
    padding: 10px;
    display: block;
    color: white;
    width: auto;
    text-align: center;
}
.face BUTTON {
    display: block;
    margin: auto;
    font-size: 50px;
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
}
.face.front {
    cursor: pointer;
}
.front {
    transform: rotateY(180deg);
}
.cardnav {
    display: block;
    margin-top: 100px;
    width: 100%;
    text-align: center;
}
.cardnav .button {
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    background: cornflowerblue;
    border-radius: 5px;
}

@media screen and (max-width: 767px) {
    .card {
        width: 90%;
    }
}