.topics, .stack {
    display: flex;
}

.topics DIV BUTTON, .stacks DIV A {
    display: block;
    padding: 10px 5px;
    margin-right: 10px;
    background: rgb(59, 112, 211);
    color: cornsilk;
    text-decoration: none;
    border: none;
    border-radius: 5px;
}

.stacks DIV A {
    margin-top: 10px;
}

.active {
    background:rgb(124, 169, 252) !important;
    border:red;
}